:markdown
	**Instructor Info**

	*Name*: #{data.course.instructor.name}

	*Email*: #{js_antispam_email_link(data.course.instructor.email, data.course.instructor.email.gsub("@", " AT ").gsub(".", " DOT "))}

	*Office Hours*: 2-3 OFFICE 123